:root {
  --main-background-color: rgba(255, 255, 255, 0.8);
  --title-color: rgba(255, 255, 255, 0.9);
  --disabled-button-bg: rgba(63, 63, 63, 0.8);
  --cobalt-blue: #0047ab;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 18px;
}

@media (max-width: 1400px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 11px;
  }
}

body {
  min-height: 100vh;
  min-width: 100%;
  width: 100%;
  margin: auto;
  background: url("../images/wood-bg.jpg") repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 20px;
}

/* ---------------------- Grid system ---------------------------- */
.row-container {
  position: relative;
  width: fit-content;
  min-width: 20vw;
  padding: 1rem;
  background-color: var(--main-background-color);
  border-radius: .9rem;
  box-shadow: 0 0 3px;
  margin-top: 20px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  margin: 10px 0 10px;
  align-items: stretch;
  justify-content: space-between;
  gap: 5px;
  flex: 0;
}

.col-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  gap: 2rem;
}

.filler {
  flex: 1;
}

#configuration {
  justify-content: center;
}

#configuration * {
  font-size: 1rem;
}

/* ----------------- Input elements ------------------------ */
input {
  display: block;
  text-align: center;
  border-radius: .6rem;
  border: solid 1px gray;
  padding: 5px 0 5px 10px;
}

@media (max-width: 768px) {
  input {
    padding: 5px 0 5px 0px;
  }
}

input#bpm {
  width: 4rem;
}

input.beats-per-bar,
input.note-value {
  width: 3rem;
  height: 100%;
  flex: 1;
}

span {
  display: flex;
  align-items: center;
}

input.beats-per-bar,
input.note-value,
.measure-container span {
  font-size: 1rem;
}

/* ------------------------------------- Metronome related classes */
.right-align {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: flex-end;
}

.signature-container {
  display: flex;
  height: 100%;
  gap: 2px;
}

.note-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5px;
  flex: 1;
  width: 5rem;
}

div.note {
  width: 0.4rem;
  height: 0.6rem;
  border: solid 1px gray;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0.1rem;
}

div.note.strong {
  width: 0.6rem;
  height: 0.8rem;
  margin: 0rem;
}

div.note.active {
  background-color: gray;
}
/* -------------------------------- Buttons ------------------------------ */
#buttons {
  justify-content: center;
  gap: 15px;
}

i:not(.small) {
  padding: .5rem;
  width: 3rem;
  display: block;
}

i.small {
  font-size: 0.8rem;
  width: 1.1rem;
  height: 1.1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  border-radius: .6rem;
  border: solid 1px gray;
  transition: 0.3s;
  cursor: pointer;
  background-color: #fff;
  min-height: none;
}

button.round {
  border-radius: 100px;
  padding: 0;
}

#play-btn,
#stop-btn {
  font-size: 1.5rem;
}

.remove-row-btn {
  font-size: 1rem;
}

#play-btn {
  color: green;
}

#play-btn:hover {
  color: #fff;
  background-color: green;
}

#stop-btn {
  color: red;
}

#stop-btn:hover {
  color: #fff;
  background-color: red;
}

.add-btn:disabled,
.remove-row-btn:disabled,
#remove-col-btn:disabled,
#play-btn:disabled,
#stop-btn:disabled {
  color: #000;
  background-color: var(--disabled-button-bg);
  cursor: auto;
}

.remove-row-btn {
  color: #000;
}

.remove-row-btn:hover:enabled {
  color: #fff;
  background-color: #000;
}

.add-row-btn,
#add-col-btn,
#remove-col-btn {
  position: absolute;
  width: fit-content;
}

.add-row-btn {
  bottom: 0;
  right: 50%;
  transform: translate(50%, 50%);
}

#add-col-btn {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

#remove-col-btn {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  color: red;
  background-color: fff;
}

#remove-col-btn:hover:enabled {
  color: #fff;
  background-color: red;
}

.add-btn {
  color: var(--cobalt-blue);
  background-color: #fff;
}

.add-btn:hover:enabled {
  background-color: var(--cobalt-blue);
  color: #fff;
}

/* ----------------------------- Title and author ------------------------ */
#title {
  font-size: 5rem;
  font-family: "Great Vibes", cursive;
  text-transform: capitalize;
  color: var(--title-color);
  border-radius: 10px;
  margin: 10px;
}

#author {
  font-size: 1.3rem;
  font-weight: 300;
  padding: 5px 10px;
  color: var(--title-color);
  border-radius: 10px;
  margin: 20px;
}
