:root {
  --main-background-color: rgba(255, 255, 255, 0.8);
  --disabled-button-bg: rgba(63, 63, 63, 0.8);
  --cobalt-blue: #0047ab;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  background: url("../images/Prettier-glock.jpg")
    no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 20px;
}

.container {
  /* width: 30%; */
  width: fit-content;
  min-width: 300px;
  padding: 20px;
  height: fit-content;
  background-color: var(--main-background-color);
  border-radius: 10px;
  box-shadow: 0 0 3px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#configuration {
  justify-content: center;
}

#configuration * {
  font-size: 1.3rem;
}

/* ----------------- Input elements ------------------------ */
input {
  display: block;
  text-align: center;
  border-radius: 10px;
  border: solid 1px gray;
  padding: 5px 0 5px 10px;
}

input#bpm {
  width: 6rem;
}

input.beats-per-bar,
input.note-value {
  width: 4rem;
  height: 100%;
  flex: 1;
}

span {
  display: flex;
  align-items: center;
}

input.beats-per-bar,
input.note-value,
#measure-container span {
  font-size: 1.2rem;
}

/* ------------------------------------- Metronome related classes */
.row {
  display: flex;
  flex-flow: row wrap;
  width: fit-content;
  /* background-color: #fff; */
  /* width: 90%; */
  margin: 5px;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.signature-container {
  display: flex;
  height: 100%;
  gap: 2px;
  margin-right: 10px;
}

.note-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1px;
  flex: 1;
  width: 12rem;
}

div.note {
  width: 0.6rem;
  height: 0.6rem;
  border: solid 1px gray;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0.1rem;
}

div.note.strong {
  width: 0.8rem;
  height: 0.8rem;
  margin:0rem;
}

div.note.active {
  background-color: gray;
}
/* -------------------------------- Buttons ------------------------------ */
#buttons {
  justify-content: center;
  gap: 15px;
}

i {
  padding: 8px;
  width: 3rem;
}

button {
  border: none;
  border-radius: 10px;
  border: solid 1px gray;
  transition: 0.3s;
  cursor: pointer;
  background-color: #fff;
}

#play-btn,
#stop-btn,
#add-btn {
  font-size: 2rem;
}

.remove-btn {
  font-size: 1.2rem;
}

#play-btn {
  color: green;
}

#play-btn:hover {
  color: #fff;
  background-color: green;
}

#stop-btn {
  color: red;
}

#stop-btn:hover {
  color: #fff;
  background-color: red;
}

.remove-btn:disabled,
#play-btn:disabled,
#stop-btn:disabled {
  color: #000;
  background-color: var(--disabled-button-bg);
  cursor: auto;
}

#add-btn {
  color: var(--cobalt-blue);
}

#add-btn:hover {
  color: #fff;
  background-color: var(--cobalt-blue);
}

.remove-btn {
  color: #000;
}

.remove-btn:hover:enabled {
  color: #fff;
  background-color: #000;
}
